p{
    font-weight: bold;
    color: red;
}
.get{
    font-weight: bolder;
   color: rgb(66, 153, 225);
   width: 20%;
   border: solid 1px rgb(66, 153, 225) ;
}

.get:hover{
    background-color:whitesmoke;
}

.slide{
    margin-bottom: 10px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}